.container {
  margin: 0 auto;
  padding: 0 15px;
}

.local {
  display: grid;
  grid-template-columns: min-content 1fr;
  flex: 1 1 auto;
  min-height: 0;
}
.content-pane {
  padding: 0 15px 35px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
}
.listing {
  overflow: visible;
  flex: 1 1 auto;
}


